.expirationPage {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .topBar {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f9fd;
    border-radius: 10px;
    padding: 0px 0px;
    margin-bottom: 5px;
    box-shadow: 0 1px 6px 0 rgba(41,56,78,0.08);
  }
  
  .title {
    font-size: 1.2rem;
    color: #255d7b;
    font-weight: 600;
  }
  
  .count {
    color: #1bba72;
    font-size: 1.4rem;
    margin: 0 6px;
    font-weight: bold;
  }
  
  .daysSelect {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
  }
  
  .input {
    width: 60px;
    border: 1px solid #aad8ee;
    border-radius: 6px;
    padding: 3px 8px;
    font-size: 1rem;
    margin: 0 4px;
    outline: none;
    transition: border 0.2s;
  }
  .input:focus {
    border-color: #7bbedc;
  }
  
  .confirmBtn {
    margin-left: 10px;
    padding: 5px 18px;
    border-radius: 6px;
    border: none;
    background: #1997c6;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    transition: background 0.18s;
    cursor: pointer;
  }
  .confirmBtn:hover {
    background: #156a8d;
  }
  
  .tableContainer {
    width: 100%;
    max-width:1200px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 16px 0 rgba(44,62,80,0.05);
    padding: 2px 3px 3px 2px;
    overflow-x: auto;         /* 关键 */
    height: 660px;      /* 根据你实际想要的高度设，比如540px */
    overflow-y: auto; 
  }
  
  .table {
    min-width: 100%; 
    border-collapse: collapse;
    table-layout: auto; /* 列宽根据内容自动 */
    font-size: 0.9rem;
    background: #fff;
  }
  
  .table th, .table td {
    border-bottom: 1px solid #e6edf3;
    padding: 0px 0px;
    text-align: center;
    white-space: nowrap;
    border-right: 1px solid #e6edf3;
  }
  
  .table th {
    background: #eef7fa;
    font-weight: 600;
    color: #17557b;
    font-size: 1rem;
  }
  
  .table tr:last-child td {
    border-bottom: none;
  }
  