.expirationPage {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f4fc;       /* 主背景 淡紫粉 */
}

.topBar {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8eaff;       /* 淡淡紫色 */
  border-radius: 10px;
  padding: 0px 0px;
  margin-bottom: 5px;
  box-shadow: 0 1px 6px 0 rgba(178,143,210,0.09);
}

.title {
  font-size: 1.2rem;
  color: #7d529b;           /* 深一点的紫，主标题 */
  font-weight: 600;
}

.count {
  color: #c089e6;           /* 柔和高亮数字 */
  font-size: 1.4rem;
  margin: 0 6px;
  font-weight: bold;
}

.daysSelect {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

.input {
  width: 60px;
  border: 1px solid #e6c1e6;   /* 淡粉紫边框 */
  border-radius: 6px;
  padding: 3px 8px;
  font-size: 1rem;
  margin: 0 4px;
  outline: none;
  transition: border 0.2s;
  background: #f9f4fc;
}
.input:focus {
  border-color: #c089e6;    /* 高亮边框 */
}

.confirmBtn {
  margin-left: 10px;
  padding: 5px 18px;
  border-radius: 6px;
  border: none;
  background: #c089e6;        /* 主按钮 柔和紫 */
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.18s;
  cursor: pointer;
}
.confirmBtn:hover {
  background: #7d529b;        /* 深一点的紫 按钮悬浮 */
}

.tableContainer {
  width: 100%;
  max-width:1200px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 16px 0 rgba(178,143,210,0.09);
  padding: 2px 3px 3px 2px;
  overflow-x: auto;
  height: 660px;
  overflow-y: auto;
}

.table {
  min-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 0.9rem;
  background: #fff;
}

.table th, .table td {
  border-bottom: 1px solid #f2e7fb;
  padding: 0px 0px;
  text-align: center;
  white-space: nowrap;
  border-right: 1px solid #f2e7fb;
}

.table th {
  background: #f6eafd;        /* 表头淡紫色 */
  font-weight: 600;
  color: #a974c5;             /* 紫色表头文字 */
  font-size: 1rem;
}

.table tr:last-child td {
  border-bottom: none;
}
