.expirationPage {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5fbf7;   /* 浅绿色背景 */
  border-radius: 10px;
  padding: 0px 0px;
  margin-bottom: 5px;
  box-shadow: 0 1px 6px 0 rgba(50,200,90,0.08); /* 绿色阴影 */
}

.title {
  font-size: 1.2rem;
  color: #229e5f;        /* 主绿色 */
  font-weight: 600;
}

.count {
  color: #24bc46;       /* 高亮主绿色 */
  font-size: 1.4rem;
  margin: 0 6px;
  font-weight: bold;
}

.daysSelect {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

.input {
  width: 60px;
  border: 1px solid #ccead4;
  border-radius: 6px;
  padding: 3px 8px;
  font-size: 1rem;
  margin: 0 4px;
  outline: none;
  transition: border 0.2s;
  background: #fff;
}
.input:focus {
  border-color: #24bc46;
}

.confirmBtn {
  margin-left: 10px;
  padding: 5px 18px;
  border-radius: 6px;
  border: none;
  background: #24bc46;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.18s;
  cursor: pointer;
}
.confirmBtn:hover {
  background: #19924c;
}

.tableContainer {
  width: 100%;
  max-width:1200px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 16px 0 rgba(50,200,90,0.06);
  padding: 2px 3px 3px 2px;
  overflow-x: auto;
  height: 660px;
  overflow-y: auto;
}

.table {
  min-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 0.9rem;
  background: #fff;
}

.table th, .table td {
  border-bottom: 1px solid #e3faee;   /* 绿色边框 */
  padding: 0px 0px;
  text-align: center;
  white-space: nowrap;
  border-right: 1px solid #e3faee;
}

.table th {
  background: #f3fbf6;      /* 绿色浅色纯色背景 */
  font-weight: 600;
  color: #229e5f;           /* 主绿色 */
  font-size: 1rem;
}

.table tr:last-child td {
  border-bottom: none;
}
